body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: white;
  color: black;
  margin: 0%;
  cursor: pointer;
}

header {
  background-color: #D5E1FF;
  padding: 10px;
}

footer {
  background-image: linear-gradient(45deg, #7E9BE6 0%, #D5E1FF 100%);
  display: flex;
  justify-content: space-around;
}

section {
  background-color: transparent;
  color: black;
  text-align: left;
  border-radius: 2px;
  margin: 10px 5px;
  padding: 5px;
}

.container {
  max-width: 1200px;
  margin: auto;
  display: flex;
  padding: 10px;
  justify-items: center;
}

#input-keybord-frame {
  display: flex;
  margin: auto;
  flex-direction: row;
  flex-wrap: wrap;
  margin: auto;
  justify-content: center;
  width: 300px;
  padding: 10px;
}

label {
  font-family: "Martian Mono";
  font-size: small;
}

input {
  font-family: "Martian Mono";
  color: #3d6ade;
  background-color: #D5E1FF;
  border: #7E9BE6;
  border-style: outset;
  border-width: 1px;
  border-radius: 5px;
}

button {
  font-family: "Martian Mono";
  color: #3d6ade;
  background-color: white;
  border: #7E9BE6;
  border-style: outset;
  border-width: 1px;
  border-radius: 5px;
}

button:hover {
  color: #D5E1FF;
  background-color: #3d6ade;
}

#userInput {
  max-height: 20px;
  justify-content: left top;
}

#virtual-keyboard {
  width: 200px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: stretch;
  gap: 2px 2px;
  padding: 10px;
}

#fill-in-the-blank {
  display: flex;
  margin: auto;
  flex-direction: row;
  flex-wrap: wrap;
  margin: auto;
  justify-content: center;
  width: 180px;
}

#word-blank {
  display: flex;
}

.wordTile {
  color: black;
  background: white;
  border: #7E9BE6;
  border-style: outset;
  border-width: 1px;
  border-radius: 5px;
  width: 15px;
  height: 15px;
}

#hint {
  display: flex;
  margin: auto;
  flex-direction: row;
  flex-wrap: wrap;
  margin: auto;
  justify-content: center;
  padding: 20px;
  text-align: center;
}

#btnPlayAgain {
  opacity: 0;
  transition: opacity 1s;
}

.popup {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  border-radius: 20px;
  background: #D5E1FF;
  color: white;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 1s;
  padding: 10px;
  text-align: center;
}

#popup-text {
  color: #3d6ade;
}

#closePopup {
  width: 50px;
}

main {
  padding: 10px;
  flex: 1;
}

img {
  max-height: 600px;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0px;
}

h1 {
  display: flex;
  margin: auto;
  flex-direction: row;
  flex-wrap: wrap;
  margin: auto;
  justify-content: center;
  color: #7E9BE6;
  font-size: 300%;
  font-family: "Martian Mono";
}

h2 {
  color: #3d6ade;
  padding: 5px;
  font-size: large;
  font-family: "Martian Mono";
}

h3 {
  color: black;
  font-size: medium;
  padding: 5px;
}

p {
  padding-left: 5px;
  font-size: small;
  font-family: "Martian Mono";
  color: #7E9BE6;
}

/* Responsive Design */
@media screen and (min-width: 600px) {
  .container {
    grid-template-columns: repeat(2, 1fr) !important;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    grid-template-columns: repeat(2, 1fr) !important;
  }
}
#wrapper {
  margin: 0 auto;
  padding: 1px;
  background-color: white;
  border-width: 0px 5px;
  border-color: black;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Top Bar */
.span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 15px;
  background-color: #D5E1FF;
}